[Unit]
Description=Busybox syslogd system logging daemon
Documentation=man:syslogd(1)
# Can use remote-fs.target and network.target as dependencies,
# to put logs to a remote filesystem or to log over network.
# For a small stand-alone system it is usually not needed.
#After=remote-fs.target
#After=network.target
# We're socket-activated from /run/systemd/journald/syslog,
# See https://www.freedesktop.org/wiki/Software/systemd/syslog for details.
Requires=syslog.socket

[Service]
Environment=SYSLOG_OPTS=
EnvironmentFile=-/etc/default/busybox-syslogd
Type=simple
ExecStart=/sbin/syslogd -n $SYSLOG_OPTS
Restart=on-failure
# make logfiles root:adm, mode 0640 by default
Group=adm
UMask=0026
# To avoid looping by our own messages. This makes our own errors invisible.
StandardOutput=null

[Install]
WantedBy=multi-user.target
Alias=syslog.service
Also=busybox-klogd.service
